django==4.1.*

# Timezone support
pytz

# Database
psycopg2-binary

# Code checking
pycodestyle
pylint==2.17.*
pylint-django

# Numerical
numpy
haversine

# uwsgi
uwsgi

# image support
image

# coverage reporting
coverage==7.2.1
