django==4.*

# Timezone support
pytz

# Database
psycopg2-binary

# Map specific
django-leaflet

# Templates
django-bootstrap4

# Code checking
pycodestyle
pylint
pylint-django

# Numerical
numpy
haversine

# uwsgi
uwsgi

# image support
image
