django==6.0.5

# Timezone support
pytz

# Database
psycopg[binary,pool]==3.3.4

# Code checking
pycodestyle
pylint==4.0.*
pylint-django==2.7.0

# Numerical
numpy
haversine

# uwsgi
uwsgi

# image support
image

# coverage reporting
coverage==7.13.5
