{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Organization List</title>
        <base href="/static/" />
        <link rel="stylesheet" href="organization/list.css">
        <script src="organization/list.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        {% csrf_token %}
        <div id="root"></div>
    </body>
    <script>
        createOrganizationList('root')
    </script>
</html>