{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Radio Operator - {{ organization.name }}</title>
        <base href="/static/" />
        <link rel="stylesheet" href="organization/radio-operator.css">
        <script src="organization/radio-operator.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        {% csrf_token %}
        <div id="root"></div>
    </body>
    <script>
        createRadioOperator('root', {{ organization.pk }})
    </script>
</html>