{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>{{assetName}}</title>
        <base href="/static/asset/" />
        <link rel="stylesheet" href="ui.css">
        <script src="ui.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        {% csrf_token %}
        <div id="root"></div>
    </body>
    <script>
        createAssetUI('root', '{{assetId}}')
    </script>
</html>