<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>{{ mission.mission_name }} - Details</title>
        <base href="/static/" />
        <link rel="stylesheet" href="pretty.css">
        <script src="pretty.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        Add Asset to Mission:
        <form action="/mission/{{ mission.pk }}/assets/" method="POST">
        {% csrf_token %}
            <table class="table">
        {{ mission_asset_add.as_table }}
                <tr>
                    <td></td>
                    <td>
        <button class="btn btn-primary">Add</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>