{% load leaflet_tags %}
{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>{{ mission.mission_name }} - Details</title>
        <script src="{% static "jquery/jquery.js" %}" type="text/javascript"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}" type="text/css" />
    </head>
    <body style="height: 100%">
        <a class="btn btn-primary" href="/mission/{{ mission.pk }}/map/">Map</a>

        <table>
            <tr><td>Started</td><td>{{ mission.started }}</td></tr>
            <tr><td>Creator</td><td>{{ mission.creator }}</td></tr>
        </table>
    </body>
</html>

