<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Add an Asset to a Mission</title>
        <base href="/static/" />
        <link rel="stylesheet" href="pretty.css">
        <script type="module" src="pretty.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <button class="btn btn-primary">Add</button>
        </form>
    </body>
</html>

