<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>{{ mission.mission_name }} - Details</title>
        <base href="/static/" />
        <link rel="stylesheet" href="mission/details.css">
        <script src="mission/details.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        {% csrf_token %}
        <div id="details"></div>
    </body>
    <script>
        createMissionDetails('details', {{ mission.pk }})
    </script>
</html>

