<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>{{ mission.mission_name }} - Details</title>
        <base href="/static/" />
        <link rel="stylesheet" href="pretty.css">
        <link rel="stylesheet" href="menu/topbar.css">
        <script type="module" src="pretty.js"></script>
        <script src="menu/topbar.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        <div id="navbar"></div>

        <table class="table">
            <tr><td>Name</td><td>{{ mission.mission_name }}</td></tr>
            <tr><td>Started</td><td>{{ mission.started }}</td></tr>
            <tr><td>Creator</td><td>{{ mission.creator }}</td></tr>
            <tr><td>Description</td><td>{{ mission.mission_description }}</td></tr>
        </table>

        Current Organizations:
        <table class="table">
            <thead>
                <tr>
                    <td>Organization</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
{% for mission_organization in mission_organizations %}
                <tr>
                    <td><a href="/organization/{{ mission_organization.organization.pk }}/">{{ mission_organization.organization.name }}</a></td>
                    <td>
{% if admin %}
{% if mission_organization.permissions_organization_add %}
                          <form action="/mission/{{ mission.pk }}/organizations/{{ mission_organization.organization.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_organization" value=false /> <input type="submit" class="btn btn-danger" value="Disable Adding Organizations" /></form>
{% else %}
                          <form action="/mission/{{ mission.pk }}/organizations/{{ mission_organization.organization.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_organization" value=true /> <input type="submit" class="btn btn-danger" value="Enable Adding Organizations" /></form>
{% endif %}
{% if mission_organization.permissions_user_add %}
                          <form action="/mission/{{ mission.pk }}/organizations/{{ mission_organization.organization.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_user" value=false /> <input type="submit" class="btn btn-danger" value="Disable Adding Users" /></form>
{% else %}
                          <form action="/mission/{{ mission.pk }}/organizations/{{ mission_organization.organization.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_user" value=true /> <input type="submit" class="btn btn-danger" value="Enable Adding Users" /></form>
{% endif %}
{% endif %}
                    </td>
                </tr>
{% endfor %}
            </tbody>
        </table>

{% if can_add_organizations %}
        <form action="/mission/{{ mission.pk }}/organizations/" method="POST">
{% csrf_token %}
            <table class="table">
                <tr>
{{ mission_organization_add.as_table }}
                    <td></td>
                    <td><button class="btn btn-primary">Add</button></td>
                </tr>
            </table>
        </form>
{% endif %}

        Current Users:
        <table class="table">
            <thead>
                 <tr>
                     <td>User</td>
                     <td>Role</td>
                     <td>Options</td>
                 </tr>
            </thead>
            <tbody>
{% for user in mission_users %}
                  <tr>
                      <td>{{ user.user }}</td>
                      <td>{{ user.user_role_name }}</td>
                      <td>
{% if user.user == me %}
You cannot modify yourself.
{% elif admin %}
{% if user.permissions_admin %}
                          <form action="/mission/{{ mission.pk }}/users/{{ user.user.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="admin" value=false /> <input type="submit" class="btn btn-danger" value="Remove Admin" /></form>
{% else %}
                          <form action="/mission/{{ mission.pk }}/users/{{ user.user.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="admin" value=true /> <input type="submit" class="btn btn-danger" value="Make Admin" /></form>
{% if user.permissions_organization_add %}
                          <form action="/mission/{{ mission.pk }}/users/{{ user.user.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_organization" value=false /> <input type="submit" class="btn btn-danger" value="Remove Add Organization" /></form>
{% else %}
                          <form action="/mission/{{ mission.pk }}/users/{{ user.user.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_organization" value=true /> <input type="submit" class="btn btn-danger" value="Allow Adding Organizations" /></form>
{% endif %}
{% if user.permissions_user_add %}
                          <form action="/mission/{{ mission.pk }}/users/{{ user.user.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_user" value=false /> <input type="submit" class="btn btn-danger" value="Remove Add User" /></form>
{% else %}
                          <form action="/mission/{{ mission.pk }}/users/{{ user.user.pk }}/" method="POST">{% csrf_token %}<input type="hidden" name="add_user" value=true /> <input type="submit" class="btn btn-danger" value="Allow Adding Users" /></form>
{% endif %}
{% endif %}
{% else %}
{% endif %}
                      </td>
                  </tr>
{% endfor %}
            </tbody>
        </table>

{% if can_add_users %}
Add User to Mission:
        <form action="/mission/{{ mission.pk }}/users/add/" method="POST">
{% csrf_token %}
            <table class="table">
{{ mission_user_add.as_table }}
                <tr>
                    <td></td>
                    <td><button class="btn btn-primary">Add</button></td>
                </tr>
            </table>
        </form>
{% endif %}

        Current Assets:
        <table class="table">
            <thead>
                 <tr>
                     <td>Asset</td>
                     <td>Asset Type</td>
                     <td>Status</td>
                     <td>Added</td>
                     <td>Removed</td>
                     <td>Options</td>
                 </tr>
            </thead>
            <tbody>
{% for asset in mission_assets %}
                  <tr>
                      <td>{{ asset.asset.name }}</td>
                      <td>{{ asset.asset.asset_type.name }}</td>
                      <td>{{ asset.status }} <br /><small>@ {{ asset.status_since }}</small></td>
                      <td>{{ asset.added }}</td>
                      <td>{{ asset.removed }}</td>
                      <td>
{% if not asset.removed %}
<a class="btn btn-danger" href="/mission/{{ mission.pk }}/assets/{{ asset.asset.pk }}/remove/">Remove</a>
{% endif %}
                      </td>
                  </tr>
{% endfor %}
            </tbody>
        </table>
Add Asset to Mission:
        <form action="/mission/{{ mission.pk }}/assets/" method="POST">
{% csrf_token %}
            <table class="table">
{{ mission_asset_add.as_table }}
                <tr>
                    <td></td>
                    <td>
<button class="btn btn-primary">Add</button></td>
                </tr>
            </table>
        </form>
    </body>
    <script>
        createSMMMissionTopBar('navbar', {{ mission.pk }})
    </script>
</html>

