{% load leaflet_tags %}
{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Add an User to a Mission</title>
        <script src="{% static "jquery/jquery.js" %}" type="text/javascript"></script>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "fontawesome/css/all.css" %}" type="text/css" />
    </head>
    <body style="height: 100%">
        <form method="POST">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <button class="btn btn-default">Add</button>
        </form>
    </body>
</html>

