<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Create a new Mission</title>
        <base href="/static/" />
        <link rel="stylesheet" href="pretty.css">
        <script type="module" src="pretty.js"></script>
        <script>
            $(window).on('pageshow', function(){
                 $("#mission_create_btn").attr("disabled", false);
            });
        </script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body style="height: 100%">
        <form method="POST" onsubmit='$("#mission_create_btn").attr("disabled", true)'>
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <button id='mission_create_btn' class="btn btn-primary">Start</button>
        </form>
    </body>
</html>

