{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Search Map</title>
        <base href="/static/" />
        <script type="module" src="map.js"></script>
        <script type="text/javascript">
            csrftoken = "{{ csrf_token }}";
            mission_id = "{% if mission == 'all' or mission == 'current' %}{{ mission }}{% else %}{{ mission.pk }}{% endif %}";
        </script>
    </head>
    <body style="height: 100%">
	{% csrf_token %}
    </body>
</html>
