{% load static %}
<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title>Search Map Recorder</title>
        <script type="text/javascript">
            csrftoken = "{{ csrf_token }}";
        </script>
        <script src="{% static "jquery/jquery.js" %}" type="text/javascript"></script>
        <script>

function errorHandler(error) {
    var msg = null;
    switch(error.code) {
        case error.PERMISSION_DENIED:
             msg = "No permision given to access location";
             break;
        case error.POSITION_UNAVAILABLE:
             msg = "Unable to get the current position";
             break;
        case error.TIMEOUT:
             msg = "Timed out getting position";
             break;
        default:
             msg = "Unknown error: " + error.code;
             break;
    }
    if (msg == null) {
         $("#error_label").text('');
         $("#error_text").text('');
    } else {
         $("#error_label").text('Error');
         $("#error_text").text(msg);
    }
}

function updatePosition(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    var altitude = position.coords.altitude;
    var heading = position.coords.heading;

    var asset_name = $("#id_asset option:selected").text();
    var data = {
        lat: latitude,
        lon: longitude,
        alt: altitude,
        heading: heading,
    };

    $("#latitude").text(latitude);
    $("#longitude").text(longitude);
    $("#altitude").text(altitude);
    $("#header").text(heading);

    $.get('/data/assets/' + asset_name + '/position/add/', data);
}

function startRecording(){
    if (navigator.geolocation) {
        var options = {
            timeout:60000,
            enableHighAccuracy: true
        };
        geoLoc = navigator.geolocation;
        watchID = geoLoc.watchPosition(updatePosition, errorHandler, options);
    }
}
        </script>
    </head>
    <body>
        <form>
        <table>
            {{ form }}
        </table>
        </form>
        <button class="btn" onClick="startRecording()">Record</button>
        <table>
            <tr><td id='error_label'></td><td id='error_text'></td></tr>
            <tr><td>Latitude</td><td>Longitude</td><td>Altitude</td><td>Heading</td></tr>
            <tr><td id='latitude'><td id='longitude'></td><td id='altitude'></td><td id='heading'></td></tr>
        </table>
    </body>
</html>
